
button {
  display: inline-block;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #1E3E62;
  margin-right: 10px;
  font-size: 16px; /* Asegúrate de definir el tamaño de fuente */
  color: white; /* Color del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

button:hover {
  background: #FF6500; /* Cambia el color de fondo al pasar el ratón */
}
