*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav{
    width:40vh;
}
.nav__link {
color: orange;
display: block;
padding:14px 0;
text-decoration: none;
}

.nav__link--inside{
    padding-left: 20px;
    text-align: left;
}
.nav__link--inside:hover{
    background: white;
}
.list {
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    display: flex;
    justify-content: flex-start; /* Cambiado de center a flex-start para alinear arriba */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    flex-direction: column;
    background: #1E3E62;
    padding-top: 0; /* Asegúrate de que no haya padding superior */
}
.list__item{
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;

}
.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap:1em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width:80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition:height .4s;
    height: 0;
}
/* Botón hamburguesa (solo para móvil) */
.nav-toggle {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1000;
}

/* Estilos responsive */

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .movil {
        display: block;
    }

    /* La navegación será más compacta en móvil */
    .nav {
        width: 20%;
        padding: 10px;
        position: relative;
        height: auto;
    }

    .list__button {
        padding: 15px;
    }

    .galeria-imagenes img {
        width: 80px;
    }

    .nav-toggle {
        display: center
        ; /* Mostrar el botón hamburguesa */
    }

    /* El menú de navegación se ocultará inicialmente */
    .nav {
        left: 20%;
    }

    .nav.active {
        left: 0;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: block;
    }
    .movil {
        display: none;
    }

    /* Ajustar el tamaño de las imágenes en tabletas */
    .galeria-imagenes img {
        width: 120px;
    }
}

/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 991px) {
    .desktop {
        display: block;
    }
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }

    /* Ajustes adicionales para pantallas más grandes */
    .galeria-imagenes img {
        width: 150px;
    }
}